.login__input {
    margin: 0 0 23px;
    outline: none;
    border: none;
    background: none;
    border-bottom: 2px solid #ccc;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    min-width: 358px;
    font-family: Inter, Arial, sans-serif;
}

.login__input:-webkit-autofill {
    box-shadow: inset 0 0 0 50px #000 !important; /* Цвет фона */
   -webkit-text-fill-color: #CCCCCC !important; /* цвет текста */
   color: #CCCCCC !important; /* цвет текста */
  }