.element__photo {
    min-width: 282px;
    min-height: 282px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0 0;
    filter: brightness(75%);
}

.element__photo:hover {
    opacity: 77%;
    cursor: pointer;
}