.profile__avatar {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0 30px 0 0;
    padding: 0;
    border-radius: 100px;
    object-fit: cover;
    z-index: 2;
}

.profile__avatar:hover{
    z-index: 0;
    opacity: 0.2;
    cursor: pointer;
}

@media screen and (max-width: 690px) {
    .profile__avatar {
        margin-bottom: 32px;
        margin-right: 0;
    }
}